@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Hedvig+Letters+Serif:opsz@12..24&family=Lobster&family=Rancho&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply transition-colors duration-200;
}

/* font-family: 'Dancing Script', cursive;
font-family: 'Hedvig Letters Serif', serif;
font-family: 'Lobster', sans-serif;
font-family: 'Rancho', cursive; */

@layer components {
  .signupbox {
    @apply w-[95%] sm:w-[80%] mx-auto h-auto sm:h-[90%] md:h-[85%] mt-[3%] rounded-xl  sm:rounded-3xl bg-blue-300 flex flex-col sm:flex-row overflow-hidden;
  }
}
